# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Week 2 generated data
week2/chroma_db/
week2/uploaded_docs/

# Week 3 generated data
week3/models/
week3/.venv/

# Week 4 generated data
week4/.venv/
